<p>user-dashboard works!</p>

<!-- <div class="card-div">
    <div class="card">
        <div class="card-body">
            <div class="clientTable-div">
                <table class="clientTable abc">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Residential Address</th>
                    </tr>
                    <tr (click)="view()" *ngFor="let detail of clientDetails" class="client-details">
                        <td>{{detail.name}}</td>
                        <td>{{detail.email}}</td>
                        <td>{{detail.phone}}</td>
                        <td>{{detail.address}}</td>
                    </tr> 
                </table>
            </div>
        </div>
    </div>
</div> -->